<footer class="g-footer">
    <div class="g-footer__brand">
        <h2 class="g-footer__title">
            Accountable Vote
        </h2>
        <p class="g-footer__actionMark">Stay Informed, hold leaders accountable, and drive real change &mdash; all In one place.</p>
    </div>
    <div class="g-footer__legal">
        <p>
            <small>Copyright @DateTime.Now.Year</small>
        </p>
    </div>



</footer>