

<nav class="nav nav--horizontal">
    <ul class="nav__items">
        <li class="nav__item">
            <NavLink class="nav__link" href="" Match="NavLinkMatch.All">
                 Home
            </NavLink>
        </li>
        <li class="nav__item">
            <NavLink class="nav__link" href="todo">
                 Todo
            </NavLink>
        </li>
        <li class="nav__item">
            <NavLink class="nav__link" href="congress">
                 congress
            </NavLink>
        </li>
    </ul>
</nav>


